.page_title {
    padding-left: 15px;
}

.add_album {
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: large;
}

.forms {
    padding: 15px;
}

.album_title {
    text-align: center;
    color: #FF9B42;
    font-size: 20px;
}

.album_artist {
    text-align: center;
    font-size: 18px;
    /* margin-bottom: 10px; */
}

.release_year {
    text-align: center;
    margin-bottom: 10px;
}

.link {
    text-align: center; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}

.image {
    width: 250px;
    padding-left: 3em;
    padding-top: 10px;
}

.card {
    width: 300px;
    height: fit-content;
    margin: 10px;
    border: red;
    border-radius: 20px;
}

.links {
    text-align: center;
    margin-top: 20px;
}

.links > a {
    padding: 10px;
}

.button {
    margin-top: 20px;
}

.cancel_button {
    margin-top: 20px;
}

.red {
    color: red;
}

.purple {
    color: green;
}